# serverless.yml

#组件信息
component: scf # (必选) 组件名称，在该实例中为scf
name: jdscript # (必选) 组件实例名称。

#组件参数配置
inputs:
  name: scf-${name} # 云函数名称，默认为 ${name}-${stage}-${app}
  enableRoleAuth: true # 默认会尝试创建 SCF_QcsRole 角色，如果不需要配置成 false 即可
  src: ./
  handler: index.main_handler #入口
  runtime: Nodejs12.16 # 运行环境 默认 Nodejs10.15
  region: ap-hongkong # 函数所在区域
  description: This is a function in ${app} application.
  memorySize: 128 # 内存大小，单位MB
  timeout: 900 # 超时时间，单位秒
  events: # 触发器
    - timer: #东东超市兑换1
        parameters:
          name: blueCoin1
          cronExpression: '0 0 0 * * * *'
          enable: true
          argument: jd_blueCoin
    - timer: #东东超市兑换2
        parameters:
          name: blueCoin2
          cronExpression: '59 59 23 * * * *'
          enable: true
          argument: jd_blueCoin
    - timer: #宠汪汪积分兑换
        parameters:
          name: joyreward1
          cronExpression: '0 0 8,12,16 * * * *'
          enable: true
          argument: jd_joy_reward
    - timer: #宠汪汪积分兑换
        parameters:
          name: joyreward2
          cronExpression: '0 0 0 * * * *'
          enable: true
          argument: jd_joy_reward
    - timer: #口袋书店 #财富岛 #东东萌宠 #东东农场
        parameters:
          name: bookshop_jxcfd_pet_fruit
          cronExpression: '0 8 0,8,12,16,18 * * * *'
          enable: true
          argument: jd_bookshop&jx_cfd&jd_pet&jd_fruit
    - timer: #东东工厂 #宠汪汪喂食 #京东种豆得豆
        parameters:
          name: jdfactory_feedPets_plantBean
          cronExpression: '0 17 0,1,5-23/1 * * * *'
          enable: true
          argument: jd_jdfactory&jd_joy_feedPets&jd_plantBean
    - timer: #宠汪汪 #宠汪汪偷好友积分与狗
        parameters:
          name: joy_joysteal
          cronExpression: '0 23 0,1,5-23/2 * * * *'
          enable: true
          argument: jd_joy&jd_joy_steal
    - timer: #东东超市
        parameters:
          name: superMarket
          cronExpression: '0 30 0,1,5-23/2 * * * *'
          enable: true
          argument: jd_superMarket
    - timer: #京东天天加速 #摇钱树 #京东抽奖机
        parameters:
          name: speed_moneyTree_lotteryMachine
          cronExpression: '0 45 1,5-23/3 * * * *'
          enable: true
          argument: jd_speed&jd_moneyTree&jd_lotteryMachine
    - timer: #签到 #摇京豆 #进店领豆 #京豆变动通知 #京东全民开红包 #京东赚赚 #签到领现金 #京喜签到 #点点券 #京东排行榜
        parameters:
          name: beansign_clublottery_shop_beanchange_redPacket_jdzz_cash_sign_necklace_rankingList
          cronExpression: '0 2 0 * * * *'
          enable: true
          argument: jd_bean_sign&jd_club_lottery&jd_shop&jd_bean_change&jd_redPacket&jd_jdzz&jd_cash&jx_sign&jd_necklace&jd_rankingList
    - timer: #天天提鹅 #金融养猪 #十元街 #京东快递 #京东汽车 #京东秒秒币 #领京豆额外奖励 #东东小窝 #闪购盲盒 #疯狂的joy
        parameters:
          name: egg_pigPet_syj_kd_car_ms_beanhome_smallhome_sgmh_crazyjoy
          cronExpression: '0 40 9 * * * *'
          enable: true
          argument: jd_daily_egg&jd_pigPet&jd_syj&jd_kd&jd_car&jd_ms&jd_bean_home&jd_small_home&jd_sgmh&jd_crazy_joy
  environment: #  环境变量
    variables: #  环境变量对象
      AAA: BBB # 不要删除，用来格式化对齐追加的变量的
